.menu {
	background-image: url(../img/cream.jpg);
	background-size:cover;
	background-repeat:repeat;
	height:100vh;
}
.home-img {
	background-image: url(../img/hair-girl-main.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	height:100vh;
}
.logo {
	padding:15px 0;
}
.home {
	.exact2 {
		width:12% !important;
	}
	.exact10 {
		width:88% !important;
	}
	.menu-item{
		transition:.75s background-color ease-in;
		.menu-link {
			transition:.75s color ease-in;
			padding:10px 0;
		}
		&:hover {
			background-color:#210124;
			.menu-link{
				color: #E5FCF5 !important;
			}
		}	
	}
	.slider-circles {	
		position:absolute;
		bottom:8px;
		left:50%;
		.circle {
			border-radius: 50%;
			display:inline-block;
			background-color: #E5FCF5;
			margin:2px;			
			width:12px;
			height:12px;
		}
	}
}